.App {
    max-width: 800px;
    margin: 10px auto;
    background: lightgray;
    min-height: 100vh;
    padding: 10px;
}

nav {
    background: #fff;
    padding: 10px;
}
nav ul li {
    margin-bottom: 10px;
}
a {
    color: blue;
    text-decoration: none;
}
.counter,
.doctitle,
.timer {
    padding: 20px 5px;
}
